/************************CONTAINERS**************************/

.editingContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;

    background-color: #141414f3;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;
    width: 415px;
    padding: 25px 35px;
    height: auto;
    max-height: 80vh;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    align-self: center;
    position: relative;

    border-radius: 3em;
}


.dateInputContainer{
    display: flex;
}



.editingContainer > div{
    display: flex;
    min-width: 100%;
} 



.inputContainerEditing{
    display: grid;
    width: 100%;
}



/**************************TAGS**************************/

.addTag, .saveButton{
    border: none;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    padding: 0 9px;
    font-size: smaller;
    height: 100%;
    align-self: center;
    margin-left: 10px;

    border-radius: 99em;
    background-color: #272727;
    font-weight: 500;
}

.tagsEditing{
    display: grid !important;
}

.addTagRow{
    display: flex;
}
.tagsContainerEditing{
    padding-top: 2px;
    max-width: 50%;
   justify-items: left;
    width: fit-content;
    padding-left: 10px;
    padding-bottom: 5px;

    display: flex;
    flex-wrap: wrap;
}
.tagInput{
    min-width: 30% !important;
    min-height: 25px !important;

}


.editingContainer  .tag {
    border-radius: 99em;
    padding:5px 8px;
    border: none;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;
    justify-self: left;
    width: max-content;
    margin-left: 5px !important;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    font-size: smaller;
}




/**************************INPUT**************************/

.react-date-picker__wrapper {
border: none !important;
}

.location{
    margin-left: 25px;
}

.editingContainer .input, .descriptionInput{
    resize: none;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;
    border-radius: .8em;
    border: none;
    min-width: 100%;
    margin-top: 3px;
    min-height: 35px;
    height: auto;
    padding-left: 5px;
    font-size: 1em;
}

.dateInputContainer > input{
    min-width: 45% !important;
}

.toDate{
    margin-left: auto;
    color: black;
  background-color: white;
  font-family: "IBM Plex Sans Hebrew";
  font-weight: 500;
  border-radius: .5em;
  border: none;
}

.dateAndTime{
    padding: 3px;
  color: black;
  background-color: white;
  font-family: "IBM Plex Sans Hebrew";
  font-weight: 500;
  border-radius: .5em;
  border: none;
}


.fileInput{
    font-family: "IBM Plex Sans Hebrew";
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
    border: none;
    min-width: 100%;
    max-width: 30px;
    margin: 0px;
    min-height: 100%;
    max-height: 20px;
    padding: 0px;
    font-size: 1em;
    opacity: 0;
}



/**************************BUTTONS**************************/

    

button:hover{
    transform: scale(1.1);
}


.saveButton{
    position: absolute;
    bottom: 20px;
    width: 75px;
    overflow: hidden;
    max-height: 45px;
    right: 35px;
    height: auto !important;
    font-size: large !important;
    padding:10px 16px !important;
}


.closeButton{
    position: absolute;
    top: 15px;
    right: 25px;
    border-radius: 9999em;
    background-color: #5b5b5b;
    border: none;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
}


/**************************MISC**************************/
label{
    padding-bottom: 3px;
}