/************************CONTAINERS**************************/


/*holds all elements in login container*/
.forgotpasswordPageContainer .loginContainer{
    /*Display*/
    display: grid;
    /*Alignment*/
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    /*Dimensions*/
    width: max-content;
    min-width: 20vw;
    height: auto;
    max-height: 70vh;
    /*Margins and padding*/
    margin: 0 auto;
    margin-top: 5vh;
    padding: 1% 2%;
    /*Misc*/
    background-color: #141414cf;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;
    border-radius: 8vh;
}


/*holds input and labels*/
.forgotpasswordPageContainer .inputContainer{
    display: grid;
    justify-content: start;
    justify-items: start;
}





/**************************BUTTONS**************************/

/*login button*/
.loginButton{
    font-size: 2.2vh; 
    padding:2% 3% !important;
    height: auto;
   
}


/*forgot password container*/
.forgotpasswordPageContainer .noPassText > button, .noPassText, .forgotPassword{
   
    /*Font*/
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;
    font-size: 2vh;
    /*Misc*/
    background: none;
    border: none;
    color: white;
    
}

/*forgotpassword button*/
.noPassText > button{  border-bottom: white solid 2px !important;}

/*make button bigger when hovering*/
.noPassText > button:hover{  transform: scale(1.02) !important;}

/*used by add button*/
.forgotpasswordPageContainer .navButton{
    background-color: rgb(51, 51, 51);
}

/*forgot password container*/
.forgotPassword{
    margin-left: auto;
    margin-top: .1vh;
}


/*make button bigger when hovering*/
.loginButton:hover{ transform: scale(1.05);}


/**************************MISC**************************/


/*make button bigger when hovering*/
.forgotPassword:hover{  transform: scale(1.01) !important;}


/*hides navbar on login screen*/
.loginNav{ opacity: 0 !important;}


/*all inputs*/
.forgotpasswordPageContainer input{

    /*Dimensions*/
    min-height: 30px;
    height: 6vh;
    min-width: 400px;
    width: 20vw;
    /*Font*/
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;
    font-size: 2vh;
    /*Misc*/
    border-radius: 1em;
    border: none;
    justify-self: center;  
    padding-left: 5px;
    margin-top: .2vh;
    
}

/*all labels*/
.forgotpasswordPageContainer label{ margin-top: 7px;}


/*makes logo at the top transparent*/
.forgotpasswordPageContainer .logoImg{ 
    height: 8vh;
    opacity: .07; 
    width: 8vh;  
}

 
@media (orientation: portrait) {
    
    .loginContainer{
        box-sizing: border-box;
        width: 95vw;
        min-width: 200px;
        padding-left: 3vh;
        padding-right: 3vh;
    }
    
    .loginContainer input{
        min-width: 85vw;
    }
   
}