.loginContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;

    background-color: #141414cf;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;

    max-width: 25vw;
    min-width: 500px;
    width: 20vw;
    height: 400px;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    align-self: center;

    border-radius: 6em;
}
input{
    
    border-radius: 1em;
    border: none;
    justify-self: center;
    min-width: 400px;
    margin-top: 10px;
    min-height: 30px;
    height: 6vh;
}
img{
    opacity: .05;
}
.inputContainer{
    display: grid;
    justify-content: start;
    justify-items: start;
}

.noPassText > button, .noPassText{
    background: none;
    border: none;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: 500;
    font-size: medium;
    
    margin-bottom: 10px;

}
.noPassText > button{
    border-bottom: white solid 2px;
}