/************************CONTAINERS**************************/


/*holds entire main page*/
.mainPageContainer {
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    position: relative;
}


/*holds splash text on main page*/
.mainTextContainer {
    /*Position*/
    position: absolute;
    top: 0px;
    /*Margins*/
    margin-left: 3%;
    margin-top: 4.8%;
    /*Font*/
    font-family: 'Koh Santepheap';
    font-size: 7vh;
    /*Misc*/
    color: white;  
}


/**************************BUTTONS**************************/

/*create album as a guest button*/
.mainTextContainer > p > button{
    /*Font*/
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
    font-family: 'Koh Santepheap';    
    /*Misc*/
    text-align: center;
    border-radius: 9999em;    
    border: none;
    color: white;
    height: .9%;
    margin-left: 1.5%;
    padding: 2%;
    background-color: #272727;
}


/*makes create albu as a guest button bigger on hover*/
.mainTextContainer > p > button:hover{ transform: scale(1.03);}


/**************************MISC**************************/


/*background images on main page*/
.mainPageContainer > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}


/*background location cpation at the bottom left*/
.backgroundCaption{
    /*Position*/
    position: absolute;
    bottom: 0px;
    left: 1%;
    /*Misc*/    
    color: white;   
    font-family: "IBM Plex Sans Hebrew";
    font-size: 2vh;
}



/*line break*/
.mainPageContainer br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0; /* change this to whatever height you want it */
 }
 

/*span*/
.mainTextContainer > span{
    font-size: .7em;
    display: block;
    margin-top: 1.4%;
}


/*p tags*/
.mainTextContainer > p{
    font-size: .4em;
    margin-top: 10.5%;
}
