/************************CONTAINERS**************************/


/*entire navbar*/
.mainNav{
    /*Dimensions*/
    height:auto;
    width: 100vw;
    min-width: 100vw;
    /*Misc*/
    background-color: #000000;
    color: white;  
    display: flex;
    opacity: 1;
    z-index: 12;
}



/*holds all buttons in navbar*/
.navButtonContainer{
    align-self: center;
    margin: 1vh 0;
    margin-left: auto;
    padding-right: 40px;
    min-width: min-content;
}

/**************************BUTTONS**************************/


/*makes button bigger on hover*/
.navButton:hover{transform: scale(1.1);}


/*navbar buttons*/
.navButton{
    /*Margins and padding*/
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1.5vh;
    padding: 1.6vh;
    /*Font*/
    font-size: 2.5vh;
    font-weight: 500;
    font-style: normal;
    /*Misc*/
    text-align: center;
    border-radius: 9999em;    
    border: none;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    height: auto;   
    background-color: #272727;
}



/**************************MISC**************************/


/*hides navbar when photos are viewed in fullscreen mode*/
.mainNavFullscreen{  z-index: 0 !important;}


/*holds all the picture thumbnails*/
.mainNav > img{
    height: 7vh;
    align-self: center;
}



/*holds all the picture thumbnails*/
.logo{
    /*Text wrap*/
    text-wrap: wrap;
    word-wrap:break-word;
    /*Font*/
    font-family: 'Koh Santepheap';
    font-size: 2vw;
    /*Misc*/
    align-self: center;
    padding-left: 4vw;
    width: 21.5vw;

}



/*sorting dropdown menu*/
.sort{
    text-align: center;
    padding: 1.5vh 0px !important;
    appearance: none;
    max-width: auto !important;
}


/*hides something, I dont know*/
select::-ms-expand {display: none;}


/*search bar*/
.mainNav input{
    /*Dimensions*/
    height: auto;
    width: auto;
    min-width: 100px;
    /*Font*/
    font-size: 2vh;
    font-weight: 500;
    font-style: normal;
    font-family: "IBM Plex Sans Hebrew";
    /*Misc*/
    text-align: left;
    border-radius: 9999em;    
    padding: 1.5vh;
    margin-left: 1.5vh;  
    border: none;
}


/*placeholder text in search bar*/
.mainNav ::placeholder { text-align: left;}
.mainNav input:placeholder-shown { text-align: left;}




/**************************MEDIA QUERIES**************************/


@media (orientation: portrait) {

    .navButton{
        font-size: 1.5vh;
        padding: 1vh 2vh;
        margin-top: .5vh;
        margin-bottom: .5vh;
    }
    
    .mainNav input{
        min-width: 10vw;
        height: auto;
        padding: 1vh 2vh;
        font-size: 1.5vh;
    }
    .logo, .mainNav > img{ display: none; }

    .navButtonContainer{
        box-sizing: border-box;
        width: 100vw;
        padding: 0;
    }
    .sort{
        font-size: 1.5vh;
        padding: 1vh .5vh !important;
    }
    
    
  }