/************************CONTAINERS**************************/

.mainPhotoContainer, .captionContainer{
    display: flex;
}
.captionContainer{
    padding-top: 10px ;
}

.mainPhotoContainer{
    align-self: center;
    background-color: #272727;
    z-index: 10;
    width: 100%;
    color: white;
    justify-content: center;
}

.fullscreenPhotoContainer{
    visibility: hidden;
    background-color: #272727e8;
    position: absolute;
    display: grid;
    top: 0%;
    left: 0%;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    transition: opacity 1s ease;
    opacity: 0;

}

/**************************BUTTONS**************************/

.noArrow{
    opacity: 0;
}

.arrow{
    height: fit-content;
    align-self: center;
    font-size: 2em;
    text-align: center;
    border-radius: 9999em;    
    border: none;
    color: white;
    background-color: #000000;
    padding:  3px 13px;
    margin: 0px 30px
}
.fullscreenButton{
    text-align: center;
    border-radius: 9999em;    
    border: none;
    color: white;
    font-family: "IBM Plex Sans Hebrew";
    height: 50px;
    margin-left: 15px;
    padding: 13px;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    background-color: #000000;
    margin-left: auto;
}


/**************************TOOLTIP**************************/


.mainPhotoContainer .tooltiptext {
    visibility: hidden;
    font-size: larger;
    width: 100%;
    height: auto;
    color:white;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    
    font-family: 'Koh Santepheap';
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-bottom: 1%;
    bottom: 0%;
    position: absolute;
    z-index: 1;
  }
  .mainPhotoContainer .tooltiptext > p{
    width: 95%;
    font-size: .9em;
    margin: 5px 10px;
    text-align: left;
  }
  .photoTooltipDescription{
    word-wrap: break-word;
    text-wrap: wrap;
    overflow: hidden;
  }


  /* Show the tooltip text when mouse is over the block */
.photo:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}

.photo:not(:hover) .tooltiptext {
    visibility: visible;
    opacity: 0;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}

/**************************TAG**************************/

.mainPhotoContainer .tag{
    border-radius: 99em;
    background-color: #5b5b5b;
    padding:5px 8px;

    width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7px;
    font-size: smaller;
}

.mainPhotoContainer .tagContainer{
    padding-top: 2px;
    gap: 10px;

    justify-content: left;
    align-content: center;
    justify-items: left;
    width: fit-content;
    padding-left: 10px;
    padding-bottom: 5px;

    display: flex;
    flex-wrap: wrap;
}

/**************************EFFECTS**************************/

.mainPhotoContainerEditing{
    background-color: transparent !important;
    z-index: 15;
  }
  

/*Current active image*/
.activeFullscreen { opacity: 1; visibility: visible;}

.mainPhotoContainer .active {
    opacity: .5;
}

.fullscreenButton:hover, .arrow:hover{
    transform: scale(1.1);
}


.mainNavFullscreen{
    z-index: 0 !important;
}

/*Keyframes for tooltip fade in and fade out animations*/
@keyframes fadeInOpacity {
	0% {opacity: 0;}
	100% {	opacity: 1;}
}

@keyframes fadeOutOpacity {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/**************************MISC**************************/


.photo, .photo > img{
    height: 500px;
    width: 1000px;
    align-self: center;
    position: relative;
    object-fit: cover;
}
.caption{
    font-family: 'Koh Santepheap';
    font-size:xx-large;
    margin: 0;

}
.dateline{
    margin: 0 10px;
    text-align: center;
    font-size: medium;

}
.fullscreenPhoto{
    object-fit: contain;
    align-self: center;
    justify-self: center;
}

