/************************CONTAINERS**************************/

/*contains main photo, caption, arrows, and tooltip*/
.mainPhotoContainer, .captionContainer{display: flex;}


/*contains caption*/
.captionContainer{padding-top: 1.05vh; height: auto; width: 100%;}


/*contains main photo, arrows, and tooltip*/
.mainPhotoContainer{
    align-self: center;
    background-color: #272727;
    z-index: 10;
    width: 100%;
    color: white;
    justify-content: center;
}

/*contains photo and caption*/
.photoContainer{ width: 65vw; }



/*contains photo in fullscreen mode*/
.fullscreenPhotoContainer{
    /*Position*/
    position: absolute;
    top: 0%;
    left: 0%;
    /*Dimensions*/
    height: 100vh;
    width: 100vw;
    /*Misc*/
    visibility: hidden;
    background-color: #272727e8;
    display: grid;
    z-index: 5;
    transition: opacity 1s ease;
    opacity: 0;
}

/**************************BUTTONS**************************/


/*hides arrow when user isn't supposed to press it*/
.noArrow{opacity: 0;}

/*left arrow*/
.arrowLeft{transform: scaleX(-1); }

/*make left arrow bigger on hover without reversing it*/
.arrowLeft:hover{transform: scaleX(-1) scale(1.1)!important; }


/*left and right arrows*/
.arrow{

    /*Alignment*/
    text-align: center;
    text-justify: center;
    align-self: center;
    /*Margins and padd2ng*/
    padding:  0 1.3vh;
    padding-bottom: .3vh;
    margin: 0px 4.5vh;
    /*Color*/
    color: white;
    background-color: #000000;
    /*Border*/
    border-radius: 9999em;    
    border: none;
    /*Misc*/
    height: fit-content;
    font-size: 4vh;

}



/*fullscreen button*/
.fullscreenButton{
    /*Margins and Padding*/
    margin-left: 1.5vh;
    padding: 1.3vh 1.5vh;
    margin-left: auto;
    /*Font*/
    font-size: 2.5vh;
    font-weight: 500;
    font-style: normal;
    font-family: "IBM Plex Sans Hebrew";
    /*Misc*/
    text-align: center;
    align-self: center;
    border-radius: 9999em;    
    border: none;
    color: white;
    height: min-content;
    background-color: #000000;
   
}


/**************************TOOLTIP**************************/


/*description container when user hovers over photo*/
.mainPhotoContainer .tooltiptext {
    /*Display*/
    display: grid;
    grid-template-rows: repeat(2, min-content);
    /*Color*/
    color:white;
    background-color: rgba(0, 0, 0, 0.75);
    /*Position*/
    bottom: 0%;
    position: absolute;
    /*Dimensions*/
    width: 100%;
    height: fit-content;
    /*Misc*/
    visibility: hidden;
    font-size: larger;
    font-family: 'Koh Santepheap';
    text-align: center;
    padding-bottom: 1%;
    z-index: 1;
  }

/*all p tags in tooltip*/
.mainPhotoContainer .tooltiptext > p{
    width: 95%;
    font-size: 1.4vh;
    margin: .7vh 1.4vh;
    margin-top: 1.5vh;
    text-align: left;
}


/*photo description*/
.photoTooltipDescription{
    word-wrap: break-word;
    text-wrap: wrap;
    overflow: hidden;
}


  /* Show the tooltip text when mouse is over the block */
.photo:hover .tooltiptext {
    /*Animations*/
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
    /*Misc*/
    visibility: visible;
    opacity: 1;
    
}


  /* hide the tooltip text when mouse stops hovering over the block */
.photo:not(:hover) .tooltiptext {
    /*Animations*/
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
    /*Misc*/
    visibility: visible;
    opacity: 0;  
}

/**************************TAG**************************/


/*Actual tag*/
.tagContainer > .tag{
    /*Margins and padding*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    padding: .8vh 1.4vh;
    /*Misc*/
    border-radius: 99em;
    background-color: #5b5b5b;
    width: max-content;
    text-align: center;
    font-size: 1.5vh;
    font-weight: 500;
}


/*container for added tags*/
.mainPhotoContainer .tagContainer{
    /*Margins and padding*/
    padding: 0 1vh;
    padding-bottom: .5vh;
    padding-top: .2vh;
    /*Alignment*/
    justify-content: left;
    align-content: center;
    justify-items: left;
    /*Misc*/
    gap: 1vh;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

/**************************EFFECTS**************************/


/*sets z index of main photo container while user is adding or editing album*/
.mainPhotoContainerEditing{
    background-color: transparent !important;
    z-index: 15;
  }
  

/*Current active image*/
.activeFullscreen { opacity: 1; visibility: visible;}


/*active background image*/
.mainPhotoContainer .active { opacity: .5;}


/*hovering over arrow*/
.fullscreenButton:hover, .arrow:hover{transform: scale(1.1);}



/*lowers z index of navbar so user can't use navbar while editing*/
.mainNavFullscreen{ z-index: 0 !important;}

/*Keyframes for tooltip fade in and fade out animations*/
@keyframes fadeInOpacity {
	0% {opacity: 0;}
	100% {	opacity: 1;}
}

@keyframes fadeOutOpacity {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/**************************MISC**************************/

/*iamge container*/
.photo, .photo > img{
    height: 65vh;
    width: 65vw;
    align-self: center;
    position: relative;
    object-fit: cover;
}



/*holds caption and dateline span*/
.caption{
    font-family: 'Koh Santepheap';
    font-size: 3.4vh;
    word-wrap: break-word;
    text-wrap: wrap;
    width: 100%;
    margin: 0;
}

/*holds time and date*/
.dateline{
    margin: 0 1.2vh;
    text-align: center;
    font-size: 2.2vh;
}


/*photo in fullscreen mode*/
.fullscreenPhoto{
    object-fit: scale-down;
    align-self: center;
    height: 100vh;
    width: 100vw;   
    justify-self: center;
}


@media (orientation: portrait) {
    
    .fullscreenButton{
        /*Margins and Padding*/
        height: min-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vh;
    }
    .photo{
        margin-left: auto;
        margin-right: auto;
    }
    .mainPhotoContainer{ display: grid;}

    .photo, .photo > img{  height: 35vh; width: 80vw;}

    .arrow, .arrowLeft{margin: 2vh auto; width: min-content}

    .captionContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .photoContainer{ width: 80vw; }


    .mainPhotoContainer .tag{
        padding: .5vh 1.1vh;
        font-size: 1.2vh;
        margin: 0 .2vh;
        margin-top: .3vh;

    }

   
    
}