/************************CONTAINERS**************************/
 

/*holds all the picture thumbnails*/
.pictureContainer{  
  /*Display*/
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(14vw, 14vw) );
  grid-template-rows: repeat( auto-fit,  minmax(14vw, 14vw));
  column-gap: 2%;   
  row-gap: 5%; 
  /*Alignment*/
  justify-items: center;
  align-items: center;
  justify-content: center;
  /*Misc*/
  padding-top: 50px;
  padding-bottom: 50px;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*container for entire page*/
.picturePageContainer{
  background-color: rgb(0, 0, 0);
  z-index: 10;
}


/*Container for editing component*/
.editingComponentContainer{
  /*Position*/
  position: fixed;
  top: 0%;
  left: 0%;
  /*Dimensions*/
  height: 100vh;
  width: 100vw;
  /*Misc*/
  visibility: hidden;
  background-color: #272727af;
  display: grid;
  z-index: 10;
  transition: opacity 1s ease;
  opacity: 0;

}

/**************************BUTTONS**************************/


/*picture thumbnail button and img*/
.pictureButton > img, .pictureButton{
  /*Dimensions*/
  max-width: 14vw;
  min-width: 14vw;
  min-height: 14vw;
  height: 14vw;
  /*Border*/
  border-radius: 10%;
  border: none;
  /*Misc*/
  background: none;
  margin: 0%;
  object-fit: cover;
  z-index: 0;
  opacity: 1.0;
}

/*picture thumbnail button*/
.pictureButton{
  position: relative;
  display: flex;
  flex-direction: column;
}

/**************************SCROLLBAR**************************/

.picturePageContainer ::-webkit-scrollbar {   width: 40px; } 
.picturePageContainer ::-webkit-scrollbar-thumb {   
    border: 12px solid rgba(0, 0, 0, 0);   
    background-clip: padding-box;   
    -webkit-border-radius: 20px;   
    background-color: rgba(0, 0, 0, 0.0);;  
}
.picturePageContainer ::-webkit-scrollbar-thumb:hover {    
    background-color: rgba(111, 110, 110, 0.5);;  
}

/**************************TOOLTIP**************************/


/* Tooltip for blocks*/
.tooltiptextpic {
  /*Alignment*/
  align-items: center;
  justify-items: center;
  justify-content: center;
 justify-items: center;
  text-align: center;
  /*Dimensions*/
  height: 100%;
  width: 100%;
  /*Misc*/
  visibility: hidden;
  border-radius: 10%;
  font-size: .95vw;
  color:white;
  margin: 0%;
  padding: 0%;
  object-fit: cover;
  font-family: 'Koh Santepheap';
  background-color: rgba(0, 0, 0, 0.75);
  grid-template-rows: min-content max-content;
  position: absolute;
  z-index: 1;
}


/*caption in tooltip*/
.toolTipCaption{
  margin-top: 7% !important;   
  word-wrap: break-word;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/*description in tool tip*/
.picturePageContainer .tagDescription{
  /*Margins and padding*/
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  /*Misc*/
  width: 93%;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  /* Set the number of lines you want to show */
  -webkit-line-clamp: 3;
}


/*caption in tool tip*/
.tagCaption{ margin-top: 5% !important;}


/* Show the tooltip text when mouse is over the block */
.pictureButton:hover .tooltiptextpic {
  /*Animation*/
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .4s; 
  /*Misc*/
  visibility: visible;
  opacity: 1;
}


/*hide the tooltip text when mouse stops hovering over the block */
.pictureButton:not(:hover) .tooltiptextpic {
  /*Animation*/
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .4s;
  /*Misc*/
  visibility: visible;
  opacity: 0;
}


/**************************TAG**************************/



/*container for added tags*/
.picturePageContainer .tagContainer{
  /*Alignment*/
  justify-content: center;
  align-content: center;
  justify-items: center;
  /*Misc*/
  padding-top: 2px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/**************************EFFECTS**************************/

/*Current active image*/
.activeEditing { opacity: 1; visibility: visible;}


/*container for entire page while user is adding or editing picture*/
.picturePageContainerEditing{
  background-color: transparent !important;
  z-index: 15;
}



/*current active background photo*/
.picturePageContainer .active { opacity: .5;}



/*makes thumbnail bigger on hover*/
.pictureButton:hover{ transform: scale(1.05);}



/*Keyframes for tooltip fade in and fade out animations*/
@keyframes fadeInOpacity {
	0% {opacity: 0;}
	100% {	opacity: 1;}
}

@keyframes fadeOutOpacity {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/**************************MEDIA QUERIES**************************/


@media (orientation: portrait) {

  .pictureButton > img, .pictureButton{
    /*Dimensions*/
    max-width: 14vw;
    min-width: 200px;
    min-height: 200px;
    height: 14vw;
  }

  .pictureContainer{  
    /*Display*/
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 14vw) );
    grid-template-rows: repeat( auto-fit, minmax(200px, 14vw));

  }
  .tooltiptextpic {font-size: 1.3vh}

}